body{
 background-color: #282c34;   
}
.list {
  padding: 10px;   
  font-size:20px;
  color: white;
  border-bottom: 1px solid white;;
   list-style: none;
}
 

.link {
  color: #61dafb;
}
.form{
  display: flex;
  flex-direction: column;   
  width: 250px;   
  gap: 16px; 
  margin: 20px auto;
  padding: 50px;
  background-color: #61dafb;
}
.form input{
 height: 30px;
 border: none;
}
