body{
 background-color: #282c34; 
  color: white;   
}
.list {
  padding: 10px;   
  font-size:20px;
 
  border-bottom: 1px solid white;;
  /* list-style: none; */
  position: relative;
  display: grid;
  grid-template-columns: 50px 100px auto;
}
.list span{

}
.list-remove{
 position: absolute;
 right: 10px;
 top:10px;
 border: 1px solid grey;
 padding: 5px;
 line-height: 10px;
}
 

.link {
  color: #61dafb;
}
.form{
  display: flex;
  flex-direction: column;   
  width: 250px;   
  gap: 16px; 
  margin: 20px auto;
  padding: 50px;
  background-color: #61dafb;
}
.form input{
 height: 30px;
 border: none;
}

.sortList{
  display: flex;
  gap: 10px;
}
.sortList button{  
  background-color: #61dafb;
  padding: 5px;
}
.sortList button:hover{
  cursor: pointer;
  background-color: #4cabc5;
}
