@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.row {
  display: flex;
  width: 600px;
  justify-content: center;
  margin-bottom: 1rem;
}
.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  margin: 0 10px;
  color: #fff;
}
.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;

  background: #f7f7f7;
  color: #828282;
  text-align: center;
  cursor: grab;
}
.item:active {
  cursor: grabbing;
}
.placeholder {
  width: 160px;
  height: 80px;
}
.start {
  background: linear-gradient(90deg, #bd91b5 0%, #a6a5df 179%);
}
.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}
.done {
  background: linear-gradient(90deg, #babd1b 0%, #26e296 100%);
}

.hold {
  border: 1px solid #8ed7ed;
  box-shadow: 0px 0px 9px #8ed7ed;
}
.hide {
  display: none;
}
.hovered {
  border-radius: 20%;
  border-top: 2px solid #8ed7ed;
  background: radial-gradient(#8ed7ed55 20%, #8eedaa7c 80%);
}
