body{
  background: rgb(216, 216, 216);
  padding: 50px;
}
h2{
  color: rgb(155, 11, 155);
}
h3{
  color: rgb(155, 11, 155);
}
.link a{
  display: inline-block;
  margin: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color:rgb(128, 7, 241);
}