* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010101;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}

.main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    background-image: none;
}

.layers__base {
    transform: none;
    z-index: 0;
}

.layers__middle {
    transform: none;
}

.layers__front {
    transform: none;
}

.main-article__header {
    font-size: 2rem;
}

.main-article__paragraph {
    font-size: 1rem;
}